a{
color: black;
    text-decoration: none;
}

body{
background: linear-gradient(to left, rgb(0, 98, 255) 0%, violet 99%) ;
 font-family: "Exile", system-ui;
  font-weight: 400;
  font-style: normal;
  cursor: a;
}





.box{
width: 80%;
margin: auto;
background-color: aliceblue;
padding:  0 0 10px black;
border: 22px double black;
border-radius: 32px;
}









